<form method="POST" action="/link/create">
    <div class="ui form">
        <div class="three fields">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name" placeholder="Name">
            </div>
            <div class="field">
                <label>Campaign Name</label>
                <input type="text" name="campaignName" placeholder="Campaign Name">
            </div>
            <div class="field">
                <label>Medium</label>
                <input type="text" placeholder="medium" name="medium">
            </div>
        </div>
        <div class="three fields">
            <div class="field">
                <label>Source</label>
                <input type="text" placeholder="source" name="source">
            </div>
            <div class="field">
                <label>Content</label>
                <input type="text" placeholder="Content" name="content">
            </div>
            <div class="field">
                <label>Notes</label>
                <input type="text" placeholder="Notes" name="notes">
            </div>
        </div>
            <button class="ui primary button">
                Save
            </button>
            <button class="ui button">
                Discard
            </button>
        </div>
    </div>
</form>